torch
transformers
accelerate
chromadb
rich
watchdog
pypandoc
pypandoc_binary
nltk
langchain
flask
flask-cors
sentence-transformers
google-auth 
google-auth-oauthlib
google-api-python-client
tqdm
markdown